*,
    *:after,
    *:before {
      box-sizing: border-box;
    }

    body,
    html {
      margin: 0;
      padding: 0;
    }

    body {
      height: 100vh;
      width: 100%;
      overflow: hidden;
    }

    #game-container {

      height: 100%;
    }

    #game-container #game-board {
      display: flex;
      flex-wrap: wrap;
      height: 200px;
      width: 200px;
      border: 1px solid pink;
      margin: 30vh auto;

    }

    .game-tile {
      height: 33px;
      width: 33px;
      border: 0.2px solid black;
    }

    .game-tile-origin {
      border: 3px solid black;
    }